/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/


body{
 	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

a{
	text-decoration: none;
}

/* TOPO */
	.topo{
	}
		.topo .containerMenu {
		}

		.topo .logo{
		}
			.topo .logo img{			

			}
		.topo .navbar{
			
		}
			.topo .navbar button{

			}
				.topo .navbar button span{

				}
			.topo .navbar .navbar-header{

			}
				.topo .navbar .navbar-header nav{

				}
					.topo .navbar .navbar-header nav ul{
	
					}
						.topo .navbar .navbar-header nav ul li{
	
						}
							.topo .navbar .navbar-header nav ul li a{
								
							}

		.topo .areaPesquisa input[type="text"]{
						
		}
			.pg .categoriasPesquisa .areaPesquisa input[type="submit"]{
					

			}		

/* RODAPÉ */
	.rodape{
		
	}
		.rodape .container{
		}
		.rodape .areaLogo{

		}
			.rodape .areaLogo .logo{
			}
				.rodape .areaLogo .logo img{

				}

			.rodape .areaLogo .descricao{
				
			}

				.rodape .areaLogo .descricao p{

				}

					.rodape .areaLogo .descricao p strong{

					}

			.rodape .areaLogo .redesSociais{
							
			}
				.rodape .areaLogo .redesSociais a{
								
				}
					.rodape .areaLogo .redesSociais a .icone1{
								
				    }
						.rodape .areaLogo .redesSociais a .icone1 i{
											
					    }
						
		.rodape .menuRodape{

		}
			.rodape .menuRodape .nav{

			}
				.rodape .menuRodape .nav> a{
					
				}
				.rodape .menuRodape .nav strong{
					
				}
				.rodape .menuRodape .nav ul{
					
				}
					.rodape .menuRodape .nav ul li{
					
					}
						.rodape .menuRodape .nav ul li a{
							
						}

/* PÁGINA INICIAL */

/* PÁGINA CATEGORIAS */
	.pg-pesquisa {

	}
		.pg-pesquisa .sessaocarrosselDestaque{

		}
			.pg-pesquisa .sessaocarrosselDestaque h6{

			}
			.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque{

			}
				.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque .item{

				}
					.pg-pesquisa .sessaocarrosselDestaque .carrosselDestaque .item img{
						display: block;
						width: 100%;
						max-width: 100%;
						max-height: 400px;
					}	
    	.pg-pesquisa .tituloPrincipal{

		}

		.pg-pesquisa .conteudos{

		}
			.pg-pesquisa .conteudos .tituloPost{

		    }

				.pg-pesquisa .conteudos .tituloPost nav{

			    }	
					.pg-pesquisa .conteudos .tituloPost nav p{

					}
			
		.pg-pesquisa .conteudos .conteudoPost{

		}
			.pg-pesquisa .conteudos .conteudoPost .post{
	
			} 
				.pg-pesquisa .conteudos .conteudoPost .post a{
	
				}
					.pg-pesquisa .conteudos .conteudoPost .post a .imagem{
		
					}
						.pg-pesquisa .conteudos .conteudoPost .post a .imagem img{
		
						}
					.pg-pesquisa .conteudos .conteudoPost .post a .texto{
		
					}
						.pg-pesquisa .conteudos .conteudoPost .post a .texto p{
			
						}
						.pg-pesquisa .conteudos .conteudoPost .post a .texto h6{
			
						}

/* PÁGINA POST */
	.pg-post {

	}
		.pg-post .sessaoBannerDestaque{

		}
			.pg-post .sessaoBannerDestaque h6{

		}
			.pg-post .sessaoBannerDestaque .bannerDestaque{

		}
				.pg-post .sessaoBannerDestaque .bannerDestaque img{
					display: block;
					width: 100%;
					max-width: 100%;
   					height: auto;

 				}

	    .pg-post .tituloPrincipal{

		}
			.pg-post .tituloPrincipal h8{

			}
			.pg-post .tituloPrincipal p{

		    }
		    .pg-post .tituloPrincipal .icone{

				}
					.pg-post .tituloPrincipal img{

					}	
       
        .pg-post .conteudos .conteudo{

		}
			.pg-post .conteudos .conteudo .tituloPost{

			}
				.pg-post .conteudos .conteudo .tituloPost h4{

				}

			.pg-post .conteudos .conteudo .post{

		   }
				.pg-post .conteudos .conteudo .post .imagem{

				}
					.pg-post .conteudos .conteudo .post .imagem img{

					}

	            .pg-post .conteudos .conteudo .post .texto{

				} 
				   .pg-post .conteudos .conteudo .post .texto p{

				   } 
			.pg-post .conteudos .conteudo .post .assinaturaPost {

		   }
			   	.pg-post .conteudos .conteudo .post .assinaturaPost .imagemAutor{

				}
				   .pg-post .conteudos .conteudo .post .assinaturaPost .imagemAutor img{

				   }
				.pg-post .conteudos .conteudo .post .assinaturaPost .descricao{

				}
				
					.pg-post .conteudos .conteudo .post .assinaturaPost .descricao h6{

					}
				
					.pg-post .conteudos .conteudo .post .assinaturaPost .descricao p{

					}

			.pg-post .conteudos .conteudo .post .conteudoRelacionado{

		    }

		    	.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo{

		  		}

			  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post{

			        }

			  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .imagemPost{

			        }

				  		.pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .imagemPost img{

				        }

				    .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost{

			        }
				        .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost p{

				        }
					        .pg-post .conteudos .conteudo .post .conteudoRelacionado .continueLendo .post .descricaoPost h8{

					        }

/* PÁGINA PESQUISA */
	.pg-pesquisa {

	}

		.pg-pesquisa .conteudos {

		}

			.pg-pesquisa .conteudos  .tituloPesquisa h6{
				font-size: 30px;

			}

			.pg-pesquisa .conteudos ul li .conteudo{


			}
				.pg-pesquisa .conteudos ul li .conteudo .post{
					margin-top: 100px;
					text-align: left;
					width: 100%;
					min-height: 200px;
					display: inline-block;

				}
					.pg-pesquisa .conteudos ul li .conteudo .post a{
						text-decoration: none;


					}
						.pg-pesquisa .conteudos ul li .conteudo .post a .imagem{

						}
							.pg-pesquisa .conteudos ul li.conteudo .post a .imagem img{
			    			    width: 100%;
			   				    height: auto;
			   				    
							}

						.pg-pesquisa .conteudos ul li .conteudo .post a .texto{
							text-align:center;

						}
 							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto p{
								color: #46a2ae;
								font-size: 20px;
								font-style: italic;

							}
							.pg-pesquisa .conteudos ul li .conteudo .post a  .texto h6{
								font-size: 25px;

							}
				
				.pg-pesquisa .conteudos .conteudo .verMais{

			    }
				    .pg-pesquisa .conteudos .conteudo .verMais a{

				    }
				    	.pg-pesquisa .conteudos .conteudo .verMais p{

				   		}			
				
				.pg-pesquisa .conteudos .conteudo .newslleter{

			    }
			    	.pg-pesquisa .conteudos .conteudo .newslleter .noticia{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h5{

			   		}
			   			.pg-pesquisa .conteudos .conteudo .newslleter .noticia h7{

			   			}
					.pg-pesquisa .conteudos .conteudo .newslleter .noticia .enviar{

			   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="text"]{

				   		}

				   		.pg-pesquisa .conteudos .conteudo .newslleter .noticia input[type="submit"]{

				   		}

/* @MEDIA */
@media(max-width: 768px){
  
}
